.ce_newsTickerStart {
  margin-bottom: 15px;

  &.hideControls + .newstickerControls {
    display: none;
    margin-bottom: 30px;
  }

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    > li {
      display: block;
      padding: 16px 12px;
      overflow: hidden;
      background: #eaeaea;
      border-bottom: 3px solid #fff;

      figure {
        margin: 0;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
      }
    }
  }
}

.newstickerControls {
  margin-bottom: 30px;

  > a {
    padding: 8px 15px;
    display: inline-block;
    background: #eaeaea;
  }
}
